.input-row .dirty_input {

  color: #e67954
}

.input-row .clean_input {
  color: #85a1ac
}

.input-row .empty_input {
  color: #b67c00;


}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b67c00;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b67c00;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #b67c00;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 20000px));
  grid-gap: 20px;
  justify-content: center;
}

a[wu-href] {
  cursor: pointer;
}



.bar input[type="search"].auto_input:focus {
  /* border: 1px solid #008ABF; */
  transition: 0.45s ease;
  /* transition: transform 0.45s ease; */
  /* color: #008ABF; */
}

.bar input[type="search"].auto_input:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  /* transition: transform 0.45s ease; */
  opacity: 0;
}

.bar input[type="search"].auto_input:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  /* transition: transform 0.45s; */
  opacity: 0;
}

.bar input[type="search"].auto_input:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  /* transition: transform 0.45s; */
  opacity: 0;
}


.bar input[type="search"].auto_input,
.bar input[type="search"].auto_hidden {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  background: transparent;
}

.bar input[type="search"].auto_input:focus,
.bar input[type="search"].auto_hidden:focus {
  /* outline: none; */
}

.bar input[type="search"].auto_hidden {
  color: orangered;
}

.bar input[type="search"].auto_input {
  color: rgb(7, 154, 70);
  z-index: 100;
}


#call {

  background: linear-gradient(214.84deg, rgb(15, 9, 68) 20.52%, rgb(9, 4, 50) 89.43%);
  transition: background 1s;


}

#call:hover {
  background: linear-gradient(90deg, rgb(110, 42, 255) 0%, rgb(148, 98, 255) 100%);
}

.local-video {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

#localVideo {
  width: 100px;
  height: 100px;
  background-color: blue;

  opacity: 0.6;
}

.remote-video {}

#remoteVideo {

  background-color: #e67954;
}
.remoteVideo{
  height:100px;
  width:100px;
}

#userId {
  display: none;
}

.user-item {

  cursor: pointer;
  background: transparent;
  transition: background 1s;
  border: 1px solid rgb(110, 42, 255);
}

.user-item:hover {
  background: rgb(110, 42, 255);
}

.user-item--touched {
  background: linear-gradient(90deg, rgb(110, 42, 255) 0%, rgb(148, 98, 255) 100%);
}

.video.bar.bar-standard.bar-header-secondary {
  height: 36%;
  position: relative;


}

.chat.bar.bar-standard.bar-footer-secondary {
  height: 8%;
  margin-bottom: 0;


}

.grid_icon.ri-fullscreen-exit-line {
   grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1; 
   padding-bottom: 0px; 
  padding-top: 0px;
  max-height: 30px; 

}
.grid_icon.ri-fullscreen-line {
   grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1; 
   padding-bottom: 0px;
  padding-top: 0px;
  max-height: 30px; 

}

.grid_content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;

  /* text-align: center; */
  /* background: transparent; */
  /* z-index: 20px; */
   /* height:50px; */ 

}

div.hide_element {
  display: none;
}


#peer_users {
  height: 50%;
  top: 0;


}

.tab-content{
  visibility: hidden;
}

.tab-content.active{
visibility: visible;
}

.input-row{
 font-size:15px;
  margin:5px;
}

.input-row > input{
  font-size:15px;
}

body{
  font-size:15px;
}

.english-to-chines-dictionary  > .content {
  padding-top: 0px !important;
}